:root{
  --brown:brown;
  --orange: orange;
  --white:white;
  --round:300px;
  --gray:rgb(233, 238, 243);

}

body{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin: 0;
    background-color: var(--gray);
    
}
header ul{
    padding: 20px;
    list-style-type: none;
    background-color:var(--orange);
    border-top-right-radius: var(--round);
    border-bottom-right-radius: var(--round);
    border-top-left-radius: var(--round);
    border-bottom-left-radius: var(--round);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.363);

}
header li a{
    color: var(--white);
    text-transform:uppercase;
    text-decoration: none;
    padding: 20px;

}

header li{
    display: inline;
    margin: 20px;
}

header li a:hover{
    background-color: var(--brown);
    color:var(--orange);
}
.container{
    padding: 20px;
}
.Welcome{
    height: 30vh;
    padding: 100px;
    
    border-bottom-right-radius: 300px;
     border-bottom-left-radius: 300px;
     
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.363);
     text-align: center;
     justify-content: center;
     min-height:10vh;
     animation-name: display;
     animation-duration: 3s;
     /* animation-iteration-count: infinite; */
     animation-fill-mode: forwards;
}

@keyframes display{
    0%{
        background-color:var(--orange); 
        transform: scale(1.1);
        color: var(--white);
    }
    50%{
        background-color: var(--brown);
        color: var(--white);
    }
    100%{
        background-image:linear-gradient(24deg,var(--orange),var(--brown));
        color: var(--white);
        transform: scale(1.0);
    }
}
.login{
    min-height: 500px;
    background-image: linear-gradient(var(--orange) ,var(--brown));
    width: 80%;
    padding: 20px;
    color: var(--white);
    font-weight: bolder;
    margin: auto;
    border-radius: 7px;
    border-bottom-right-radius: 300px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.363);
}
.form{
  padding: 10px;

}
.login a{
    color:var(--white);
    font-weight: 900;
}

.myfield{
    padding: 10px;
    border: none;
    border-radius: 7px;
    width: 80%;
}
#mybtn{
    background-color:var(--orange);
    padding: 20px;
    text-transform: uppercase;
    border: none;
    color: var(--white);
    border-radius: 7px;
}
