<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico&display=swap" rel="stylesheet"></head>
<body>
    <header>
        <h1 class="logo">Pretty Pastries</h1>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">register</a></li>
        </ul>
    </header>
    
    {% block body %}
        
    {% endblock body %}
        
<script src="{{url_for('static',filename='js/index.js')}}"></script>
</body>
</html>