{% extends 'base.html' %}

{% block body %}
    
    <form action="" name="login_form" method="">
    <div class="login">

        <h1>Login Form</h1>
        <div class="form">
            <p>Username or Email</p>
            <input type="text" name="form" id="prompt" required class="myfield">
        </div>

        <div class="form">
            <p>Password</p>
            <input type="password" name="password" required id="login-password" class="myfield">
        </div>

        <div class="form">
            <button type="submit" class="mybtn" id="login">Login</button>
        </div>
        <small>Do not have an account, <a href="register.html">Register</a></small>
    </div>
</form>
    
{% endblock body %}